

$white: #fff
$bgRed: #F83718
$btnHover: #EE816C

.main
	font-family: 'Ubuntu',serif

.btn
	padding: 9px 28px
	color: $white
	background-color: $bgRed
	&:hover
		background-color: $btnHover
		transition: 0.5s
		
.container
	width: 1164px
	margin: 0 auto

.header-content
	display: flex